// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eb9c3c;

// ----------------------------------------------------------------------------
// Widget-awsmap styles
// ----------------------------------------------------------------------------
.widget-awsmap {

  background-color: $background-color;

  .title {
    color: rgba(245, 206, 158, 0.7)
  }

  #world-map {
    width: 580px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .updated-at {
    color: rgba(245, 206, 158, 0.7)
  }
}
